.third_party .image a{
    text-decoration: none;
    color: black;
  }
  .planners .planner a{
    text-decoration: none;
    color: black;
  }
  
  .reception .venue a{
    text-decoration: none;
    color: black;
  }