<section class="third_Party_section pt-5 pb-5">
    <div class="third_party text-center">
        <h1 class="pt-5 pb-5"> Services</h1>
        <div class="container">
            <div class="row">
                
                <div class="col-md-4 pb-4">
                    <div class="image">
                      <img src="./assets/weddingplanner.jpg" class="img-fluid pb-2">
                      <span><a href="weddingplanner.html"><h5>Wedding Planner</h5></a></span>
                    </div>
                </div>
                <div class="col-md-4 pb-4">
                  <div class="image">
                    <img src="./assets/receptionvenue.jpg" class="img-fluid pb-2">
                    <span><a href="recvenue.html"><h5>Reception Venue</h5></a></span>
                  </div>
              </div>
              <div class="col-md-4 pb-4">
                  <div class="image">
                    <img src="./assets/photographer.jpg" class="img-fluid pb-2">
                    <span><a href="photographer.html"><h5>Photographer</h5></a></span>
                  </div>
              </div>
              <div class="col-md-4">
                  <div class="image">
                    <img src="./assets/catering.jpg" class="img-fluid pb-2">
                    <span><a href="catering.html"><h5>Catering</h5></a></span>
                  </div>
              </div>
              <div class="col-md-4">
                  <div class="image">
                    <img src="./assets/priest.jpg" class="img-fluid pb-2">
                    <span><a href="priest.html"><h5>Priest</h5></a></span>
                  </div>
              </div>
              <div class="col-md-4">
                  <div class="image">
                    <img src="./assets/decorator.webp" class="img-fluid pb-2">
                    <span><a href="decorator.html"><h5>Decor</h5></a></span>
                  </div>
              </div>
            </div>
        </div>

    </div>
</section>